{% extends "base.html" %}

{% block header %}
<h1><small>Question: </small>{{ question.title }}</h1>
{% endblock header %}

{% block content %}
  <div class="media well">
    <div class="media-body">
      <h4 class="media-heading">
        <small class="pull-right">
          {{ question.date_created }}
        </small>
      </h4>
      {{ question.content|linebreaks }}
    {% for tag in question.tag_set.all %}
      <a class='btn btn-mini btn-info'
         href="{% url 'tagged' tag.name %}">
        {{ tag.name }}
      </a>
    {% endfor %}
    </div>
  </div>
{% if question.answer_set.exists %}
  <div class="well">
  {% for answer in question.answer_set.all %}
    <div class="media"
    {% if not forloop.last %}
      style="border-bottom: 1px solid grey;"
    {% endif %}>
      <div class="media-body">
        <h4 class="media-heading">
          <small class="pull-right">
            {{ answer.date_created }}
          </small>
        </h4>
        {{ answer.content|linebreaks }}
      </div>
    </div>
  {% endfor %}
  </div>
{% endif %}
  <div class="well">
    <form method="POST">
      {% csrf_token %}
      {{ form.content }}
      <button type="submit" class="btn btn-primary">
        Answer!
      </button>
    </form>
  </div>
{% endblock content %}