{% extends "base.html" %}

{% block content %}
{% for question in questions %}
  <div class="media well">
    <a class="pull-left" href="#">
      <img class="media-object" src="{{ question.user.avatar.url }}"
           style="margin: auto; width: 64px;">
      <span class="badge" style="text-align: center;">
    {% with question.answer_set.count as answers %}
      {% if not answers %}
        No answers
      {% else %}
        {{ answers }} answer{{ answers|pluralize }}
      {% endif %}
    {% endwith %}
      </span>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <small class="pull-right">
          {{ question.user.name }} asked on {{ question.date_created }}
        </small>
        <a href="{% url 'detail' question.id %}">{{ question.title }}</a>
      </h4>
      {{ question.content|linebreaks }}
    {% for tag in question.tag_set.all %}
      <a class='btn btn-mini btn-info'
         href="{% url 'tagged' tag.name %}">
        {{ tag.name }}
      </a>
    {% endfor %}
    </div>
  </div>
{% endfor %}
{% endblock content %}